@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
font-family:Roboto, poppins;
}

html{
    font-size:62.5%;
}

body{
    background:white;

}

.main-container{
    width:100%;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

header{
    position:sticky;
    top:0;
    z-index: 1000;
 
    
}

header nav{
    padding: 1em 2.5em;
    background-color:transparent;
    display:flex;
    align-items:center;
    
    justify-content:space-between;
    background:rgba(7, 243, 168, 0.1);/*transparent*/
    backdrop-filter:blur(12px);         /*the blur effect*/
-webkit-backdrop-filter:blur(12px); /*safari support*/
}

header .logo {
    font-size: 1.3rem;
    font-weight: bold;
    color:black;

    span {
color: red;
    }
}
 
header nav ul {
    display: flex;
    gap: 2rem;
    padding: 1em;
    border-radius: 1em;
    display: none;

    li{
        list-style: none;
    }
    
    a{
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: #1e3a8a;
    }

}

header nav ul a:hover {
    border-block-end: 2px solid #1e3a8a;
}

header button {
    padding: .8em 1em;
    border: none;
    background-color: #394dbf;
    border-radius: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;

    a { 
        font-size: 1rem;
       font-weight: bold;
       color:white;
       text-decoration: none;
    }

}
.login-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background: greenyellow;
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
}



.login-btn {
    transition: 0.3s ease;
}

.login-btn:hover {
    transform: scale(1.06);
    opacity: 0.9;
}


.hero{
    grid-column:1 / -1;
    grid-row:2 / -1;
    margin-top:20px;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
    padding: 1em;
    margin-top: 60px;
}

.content {
    padding: 10px 15px;
}
 
.content h1 {
    font-size:clamp(2rem, 5rem, 6rem);
    font-style: time new roman;
    font-weight:bold;
    color:black;

    span{
        color:red;
    }
}
 img {
    width: 40px;
    height: 40px;
 }

 .content p {
    font-size: 1.3rem;
    font-weight: 600;
    color:black;
    margin-top: 10px;
    max-height: 400px;
 }

 .content .btn {
    margin-top: 10px;
    display: flex;
    gap: .7rem;
    align-items: center;
 }

 .content button{
padding: .8em 1.3em;
border: none;
background-color: greenyellow;
border-radius: 1em;
font-size: 1.3rem;
font-weight: 600;
color: black;
cursor: pointer;
 }

 .content .btn img {
    width: 30px;
    height: 30px;
    background-color: #89b8f6;
    border-radius: 50%;
 }

.content button:hover{
    opacity: .9;
     transform: scale(1.06);
}


.gallery {
    width: 100%;
    height: 100%;
    background:url(images/web.jpg) no-repeat center;
    background-size: cover;
    position:relative;
    border-radius: 2em;
    animation: slider 10s linear infinite;
}

main .gallery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/frame.jpg) no-repeat center;
    background-size: cover;
    mix-blend-mode: screen;
}

@keyframes slider{
    0% {
        background: url(images/web.jpg);
        background-size: cover;
    }

    40% {
        background: url(images/3.jpg);
        background-size:cover;
    }
     70%{
        background:url(images/4.jpg) ;
        background-size: cover;
    }
    100%{
        background: url(images/5.jpg);
        background-size: cover;
    }
}

@media (min-width:502px) {
    .hero{
        grid-template-columns: 1fr 250px;
    }

    .gallery{
        border-right: 50%;
    }
}
@media (min-width:560px) {

    header nav ul{
        display:flex;
    }

    .hero{
        grid-template-columns: 1fr 1fr;
    }

    .gallery{
        padding: 0 2em;
        border-radius:1em;
    }
}

.about{
    margin-top: 0;
    padding: 35px;
    text-align: center;
}
.about h2{
    font-size: 40px;
    color: #4a235a;
}
.about p{
    margin-top: 15px;
    max-width: 700px;
    margin-inline: auto;
    font-size: 20px;
    color: black;
    font-style: bold;
}


.photo-hub{
    padding: 70px 20px;
    text-align: center;
}
.photo-title{
    font-size: 48px;
    color: #1f3a5f;
    margin-bottom: 35px;
}

.photo-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 900px;
}

.photo-card {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.photo-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
}

.photo-card:hover img {
    transform:scale(1.1)
}

@media (max-width: 600px){
.photo-card{
    height: 180px;
}
}

.donate-section {
    padding: 60px 20px;
    text-align: center;
    scroll-margin-top: 90px;
    position: relative;
    z-index: 1;
}

.donate-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(7, 243, 168, 0.1);/*transparent*/;
}

.donate-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(44, 6, 6, 0.15);
    transition: transform 0.3s ease;
}

.donate-card:hover{
transform: translate(-10px);
}

.donate-card h3 {
    color: #f50905;
    font-size: 20px;
    margin-bottom: 10px;
}

.donate-card p {
font-size: 18px;
margin-bottom: 20px;
}

.donate-card button {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    background: rgb(170, 255, 0);
    color:black;
    border-radius: 8px;
    cursor: pointer;
    font-style: bold;
}

.donate-card button:hover {
    background: rgb(170, 254, 2);
     transform: scale(1.06);
    opacity: 0.9;
}

.mid{
    transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:whitesmoke;
  border-top: 1px solid #ddd;
bottom: 0;
  font-size: 14px;
  color: #333;
  width: 100%;
} 

.footer-links {
  display: flex;
  gap: 20px;
  padding-right:10px ;
 
}
.footer h5{
    padding-left:10px ;
    font-size:15px;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
    font-size: 15px;
    padding-top:17px;
    padding-bottom: 17px;
}

.footer-links a:hover {
  color: #4CAF50; /* matches your donate button */
   transform: scale(1.06);
    opacity: 0.9;
}